:root {
    --bg: #f5f1ff;
    --color: #6e00d7;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    font-family: sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--bg);
    color: var(--color);
}

.container {
    margin: 0 auto;
    max-width: 320px;
}

.radio {
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: min-content auto;
    grid-gap: 0.5em;
    cursor: pointer;
}

.radio:not(:last-child){
  margin-bottom: 1rem;
}

.radio input {
    opacity: 0;
    width: 0;
    height: 0;
}

.radio__input {
    display: flex;
}

input:checked + .radio__control {
    background: radial-gradient(currentcolor 50%, rgba(255, 0, 0, 0) 51%);
}

.radio__label {
    line-height: 1;
}

.radio__control {
    display: block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: 0.1em solid currentColor;
    transform: translateY(-0.05em);
}

.button {
    font-size: 2rem;
    background-color: var(--color);
    color: var(--bg);
    padding: .5rem;
    text-align: center;
    border-radius: 6px;
    outline: 0;
    border: 0;
}

